<!DOCTYPE html>
<html>

<head>
	<title>
		Aggiungi Fornitore
	</title>
	<link rel="stylesheet" href="/css/admin/formNew.css" />
</head>

<body>

	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="logo"><a href="/"><img src="/images/logo.siw.jpg" width="50%"/></a></div>
	<h1>Aggiungi un fornitore</h1>
	<form th:action="@{/admin/newFornitore}" method="POST" th:object="${fornitore}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Nome:</label> 
			<span><input type="text" th:field="${fornitore.nome}" /></span>
		    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
		    </span>
		</div>

		<div>
			<label>Email:</label> <span><input type="text" th:field="${fornitore.email}" /></span>
		    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
		    </span>
		</div>
		<div>
			<label>Indirizzo:</label> <span><input type="text" th:field="${fornitore.indirizzo}" /></span>
		    <span th:if="${#fields.hasErrors('indirizzo')}" th:errors="*{indirizzo}">
		    </span>
		</div>




		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>