<!DOCTYPE html>
<html>

<head>
	<title>Elenco fornitori da aggiornare</title>
	<link rel="stylesheet" href="/css/admin/manageFornitori.css" />
</head>

<body>

	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${userDetails}">
			<a href="/login">Login</a>
		</div>
	</header>

	
	<div class="logo"><a href="/"><img src="/images/logo.siw.jpg" width="50%"/></a></div>
	<h1>Fornitori da aggiornare</h1>
	<div th:if="${fornitori.isEmpty()}">Non ci sono fornitori nel sistema</div>
	<div class="lista-fornitori">
	<ul class="product-list">
		<li th:each="fornitore : ${fornitori}" >
			<a th:href="@{'/fornitore' + '/' + ${fornitore.id}}" th:text="${fornitore.nome}" > Rossi rifornimenti</a>
			<a th:href="@{'/admin/formUpdateFornitoreData' + '/' + ${fornitore.id}}" th:text="' Aggiorna dati di un fornitore'  " class="update-link"> Aggiorna dati di un fornitore</a>
            <a th:href="@{'/admin/deleteFornitore' + '/' + ${fornitore.id}}" th:text=" 'elimina fornitore' " class="delete-link"> </a>
                
		</li>
	</ul>
	</div>
</body>

</html>